.hotel__img{
  width: 100%;
  height: 300px;
}

.hotel{
  padding-top: 120px;
}

.hotel-wrapper{
  padding: 30px 0;
  background-color: rgba(250, 235, 215, 0.689);
}

.hotel__wrap{
  width: 100%;
}
.back{
  cursor: pointer;
}
@media screen and (min-width:768px) {
  .hotel{
    width: 100%;
    /* width: 516px; */
  }

  .hotel__img{
    float: left;
  }
}