.album_wrap{
  height: 100%;
  margin-top: 150px;
  background-color: rgb(253, 248, 241);
}


.album__title{
  margin-bottom: 20px;
}

.album__img{
  width: 100%;
}

@media screen and (min-width:992px) {


  .album__title{
    margin-bottom: 28px;
  }

  .album__img{
    float: left;
    width: 40%;
    margin-right: 16px;
    }

    .hotel__text{
      clear: none;
    }
}