.wrapper{
  position: relative;
  overflow-x: hidden;
}

.wrapper .bg-history{
  margin-top: 0;
  padding-top: 150px;
}


.about{
  width: 100%;
  padding: 80px 0;
  background: rgb(255, 251, 247);
}

.about-title{
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 45px;
}

.about-img{
  width: 100%;
  min-height: 250px;
  max-height: 420px;
}

.about-info__img{
  width: 40px;
  height: 40px;
  margin-right: 16px;
}

.shape{
  width: 70px;
  height: 70px;
}

.historical-places{
  padding: 40px 0;
}

.historical-places__box{
  width: 100%;
  overflow: hidden;
}

.historical-places__card{
  height: 520px;
  text-align: center;
  border-right: 1px solid #080808;
  border-left: 1px solid #080808;
}

.historical-places__title{
  margin-top: 8px;
  margin-bottom: 14px;
}

.historical-places__img{
  width: 100%;
  height: 470px;
}

.historical-places{
  padding: 16px 0;
  background-color: #fff;
}

.historical-places__body{
  padding: 12px 0;
  transition: 0.5s ease;
  background-color: #fff;
}

.historical-places__card:hover .historical-places__body{
  transform: translateY(-220px);
}


.news{
  padding: 80px 0;
  background-color: #fff;
}

.news .shape{
  margin: 0;
}

.card-news{
  width: 100%;
  margin-bottom: 36px;
  overflow: hidden;
}

.news-img{
  width: 100%;
  margin-bottom: 35px;
}

.news-text{
  margin-bottom: 16px;
}

.dot .news-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-title{
  display: inline-block;
  background-image: linear-gradient(rgba(0, 0, 0, 0) calc(99% - 2px), #080808 2px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}

.news-btn{
  display: block;
  margin: 0 auto;
  background-color: #68FFBF;
}

.galary{
  padding: 70px 0;
  background-color: azure;
}

.galary-title{
  font-size: 38px;
}

.galary-img{
  width: 100%;
  height: 400px;
}
.galary-item{
  margin-right: 12px;
}


.galary .slick-list{
  width: 100vw;
  height: 400px !important;
}

.galary .slick-track{
  height: 450px !important;
}

.galary .slick-slide{
  width: 100%;
  max-width: 400px;
  height: 400px;
  margin-right: 10px;
}

.galary .slick-prev{
  top: 50% !important;
  left: 25px !important;
  transform: rotate(-90deg);
}

.galary .slick-next{
  top: 50% !important;
  right:  25px !important;
  transform: rotate(-90deg);
}

@media only screen and (min-width:992px) {
  .about{
    padding: 92px 0;
  }

  .about-title{
    margin-bottom: 100px;
    font-size: 72px;
  }

  .galary-title{
    font-size: 46px;
    margin-bottom: 24px;
  }
  .historical-places{
    padding: 80px 0;
  }
  .news{
    padding: 100px 0;
  }

  .news-img{
    width: 100%;
    transform: scale(1.1);
    transition: 0.4s ease-in-out;
  }

  .news-box:nth-child(odd) .news-img{
    height: 270px;
  }

  .news-box:nth-child(even) .news-img{
    height: 320px;
  }

  .card-news:hover .news-title{
    background-size: 100% 100%;
  }
  .card-news:hover .news-img{
    transform: scale(1);
  }


}
