.news-bg{
  margin-bottom: 120px;
  padding-top: 80px;
  padding-bottom: 150px;
}


.news_box {
  position: relative;
  padding-top: 120px;
  z-index: 4;
}

.news-box__title{
  font-size: 56px;
  font-weight: 400;
  font-family: 'Cinzel', serif;
  line-height: 1;
  text-wrap: wrap;
}

.news-wrapper{
  width: 100%;
}

.news-box__img{
  width: 100%;
  float: none;
}


@media screen and (min-width:1024px) {
  .news-wrapper__img{
    width: 40%;
    margin-right: 16px;
    float: left;
  }

  .news-wrapper__text{
    clear: both;
    width: 100%;
  }

}