.news-bg{
  padding-top: 80px;
  padding-bottom: 150px;
}


.news_box {
  position: relative;
  padding-top: 120px;
  z-index: 1;
}

.news-box__title{
  /* margin-bottom: 30px; */
  font-size: 56px;
  font-weight: 400;
  font-family: 'Cinzel', serif;
  line-height: 1;
  text-wrap: wrap;
}