
.mobile-offset{
  display: block;
  display: flex;
  align-items: center;
}

.desktop-offset{
  display: none;
}

.desktop{
  display: none !important;
}
.navbar{
  position: absolute !important;
  z-index: 7 !important;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  /* background-color: #fff; */
}


 .logo {
  width: 100%;
  max-width: 150px;
  display: inline-block;
}

.logo-site{
  width: 90%;
  height: 55px;
}

.navbar-box{
  position: absolute;
  width: 80%;
  padding-left: 24px;
  height: 100vh;
  top: 0;
  left: 0;
  transform: translateX(-200%);
  background-color: #000;
  transition: 0.7s ease-in-out;
}

.logo-box{
  width: 100%;
}

.navbar-box .logo{
  width: 100%;
  height: 66px;
}

.navbar-box .logo-site{
  width: 100%;
  margin: 0 auto;
  height: 66px;
}

.active .navbar-box{
  transform: translateX(0);
}


.select-lang{
  padding: 6px 10px;
  border: 1px solid #080808;
  background-color: transparent;
  border-radius: 12px;
}

.lang-item{
  position: relative;
  margin: 6px 0;
  padding-left: 14px;
}

.lang-item::before{
  position: absolute;
  top: 40%;
  left: 4px;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  content: ''
}


.lang-btn{
  display: inline-block;
  margin: 0;
  padding-bottom: 4px;
  font-family: 'Cinzel', sans-serif;
  font-size: 20px;
  margin-right: 30px;
  color: #fff;
  background-image: linear-gradient(rgba(0, 0, 0, 0) calc(99% - 2px), #7e2cf1 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
    cursor: pointer;
}

.lang-item:hover .lang-btn{
  color: #fff;
  background-size: 100% 100%;
}

.menu-list{
  margin-top: 6px;
}



.dropdown-c{
  position: relative;
  display: inline-block !important;
  margin: 0;
  padding-right: 30px;
  font-family: 'Cinzel', sans-serif;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0) calc(99% - 2px), #7e2cf1 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
}

.dropdown-c:hover{
  background-size: 100% 100%;
}

.dropdown-c::after{
  position: absolute;
  display: inline-block;
  top: calc(50% - 6px);
  right: 15px;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('/src/assets/images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.planning{
  position: relative;
  display: inline-block !important;
  margin: 0;
  /* padding-right: 30px; */
  font-family: 'Cinzel', sans-serif;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0) calc(99% - 2px), #7e2cf1 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.5s;
}

.custom-menu .lang-btn{
  margin-right: 0;
}

.planning::after{
  position: absolute;
  display: inline-block;
  top: calc(50% - 6px);
  left: 270px;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url('/src/assets/images/arrow-down.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.dropdown-item{
  padding: 5px;
  margin: 5px 0 0;
  cursor: pointer;
  overflow-wrap: break-word;
}
.dropdown-item:hover{
  color: #fff;
  background-color: #7e2cf1;
}
.nav-dropdown{
  display: none;
  width: 100%;
  max-width: 350px;
  position: absolute;
  top: 100%;
  left:  11px;
  background-color: rgb(243, 243, 243);
  border-radius: 4px;
  list-style: none;
  z-index: 2;
}

.dropdown-box:hover .nav-dropdown{
  display: block;
}

.dropdown-box:hover .dropdown-c{
  background-size: 100% 100%;
}

.dropdown-link{
  display: block;
  width: 100%;
  overflow-wrap: break-word;
  color: #080808;
}

.dropdown-link:hover{
  color: #080808;
}

.hamburger path {
  -webkit-transform: translate3d(0, 0, 0);
  fill: transparent;
  stroke-width: 2px;
  stroke: #000;
  stroke-linecap: round;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.hamburger path.line-center {
  padding: 10px 0;
}
.hamburger.active .line-center {
  -moz-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
}
.hamburger.active .line-top {
  -moz-transform: rotate(45deg) translateX(6px) translateY(-9px);
  -webkit-transform: rotate(45deg) translateX(6px) translateY(-9px);
  -o-transform: rotate(45deg) translateX(6px) translateY(-9px);
  -ms-transform: rotate(45deg) translateX(6px) translateY(-9px);
  transform: rotate(45deg) translateX(6px) translateY(-9px);
}
.hamburger.active .line-bottom {
  -moz-transform: rotate(-45deg) translateX(-15px) translateY(0px);
  -webkit-transform: rotate(-45deg) translateX(-15px) translateY(0px);
  -o-transform: rotate(-45deg) translateX(-15px) translateY(0px);
  -ms-transform: rotate(-45deg) translateX(-15px) translateY(0px);
  transform: rotate(-45deg) translateX(-15px) translateY(0px);
}

.hamburger-ds path {
  -webkit-transform: translate3d(0, 0, 0);
  fill: transparent;
  stroke-width: 2px;
  stroke: #000;
  stroke-linecap: round;
  transition-duration: 0.7s;
  -webkit-transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
  -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.09, 1);
}
.hamburger-ds path.line-center {
  padding: 10px 0;
}
.hamburger-ds.active .line-center {
  -moz-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  transform: translateX(-50px);
}
.hamburger-ds.active .line-top {
  -moz-transform: rotate(45deg) translateX(6px) translateY(-9px);
  -webkit-transform: rotate(45deg) translateX(6px) translateY(-9px);
  -o-transform: rotate(45deg) translateX(6px) translateY(-9px);
  -ms-transform: rotate(45deg) translateX(6px) translateY(-9px);
  transform: rotate(45deg) translateX(6px) translateY(-9px);
}
.hamburger-ds.active .line-bottom {
  -moz-transform: rotate(-45deg) translateX(-15px) translateY(0px);
  -webkit-transform: rotate(-45deg) translateX(-15px) translateY(0px);
  -o-transform: rotate(-45deg) translateX(-15px) translateY(0px);
  -ms-transform: rotate(-45deg) translateX(-15px) translateY(0px);
  transform: rotate(-45deg) translateX(-15px) translateY(0px);
}




.navbar .hamburger-menu {
  margin-left: 30px;
  display: inline-block;
  cursor: pointer;
}

.navbar.light .hamburger-menu .hamburger path {
  stroke: #fff;
}

@media screen and (min-width:437px) {
  .planning::after{
    right: 165px;
  }
}

@media only screen and (min-width:576px) {

  .navbar{
    position: absolute;
    padding: 24px;
  }

  .logo {
    width: 100%;
    max-width: 220px;
    display: inline-block;
  }

  .logo-site{
    width: 90%;
    height: 85px;
  }

  .navbar-box{
    width: 85%;
    padding-left: 32px;
  }

  .navbar-box .logo-site {
    width: 70%;
    margin: 0 auto;
    height: 66px;
  }

}

.lang-item p{
  margin-bottom: 0;
}


@media only screen and (min-width:992px) {

  .mobile{
    display: none !important;
  }


  .navbar{
    position: absolute !important;
    width: 100%;
    padding: 18px 36px;
    z-index: 7;
    flex-wrap: nowrap !important;
    top: 0;
  }
  .desktop{
    display: block !important;
  }

  .mobile-offset{
    width: 100%;
  }

  .desktop-offset{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    padding: 12px 50px;
    background-color: #000;
    transform: translateX(-200%);
    transition: all 0.6s ease-in-out;
  }

  .desktop-offset.active{
    transform: translate(0);
  }

  .body-over {
    overflow-y: hidden !important;
  }

  .desktop-offset .logo{
    display: block !important;
    width: 100% !important;
    max-width: 280px;
    padding-left: 56px;
    height: 120px;
    margin-bottom: 8px;
  }

  .desktop-offset .logo-site{
    width: 100%;
    height: 120px;
    padding-top: 12px;
  }

  .logo-site{
    width: 95%;
    height: 100px;
  }

  .navbar-box .logo-site {
    width: 70%;
    margin: 0 auto;
    height: 70px;
  }

  .navbar-box{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-left: 24px;
    height: auto;
    background-color: transparent;
    transform: translate(0);
  }

   .custom-menu{
    display: flex;
    justify-content: flex-end;
  }

  .site-menu{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dropdown-c{
    display: inline-block !important;
  }

  .planning{
    font-family: sans-serif;
    color: #080808;
  }

  .planning:hover{
    background-size: 100% 100%;
  }

  .dropdown-c::after, .planning::after{
    background-image: url('/src/assets/images/arrow.svg');
  }

  .planning::after{
    left: 210px;
    background-image: url('/src/assets/images/arrow.svg');
  }
  .logo-box{
    display: none;
  }

  .lang-list{
    display: flex;
    align-items: center;
    padding: 0;
  }

  .lang-item::before{
    background-color: transparent;
  }
  .lang-item:hover .lang-btn{
    color: #080808;
  }

  .lang-btn ,.dropdown-c{
    color: #080808;
    font-family: "Arial", serif;
  }


  .ds-img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    height: 200px;
    margin-bottom: 8px;
  }

  .ds-description{
    margin-bottom: 36px;
    color: #fff;
    opacity: 0.8;
  }

  .ds-time-title{
    width: 100%;
    display: block;
    font-size: 26px;
    font-family: 'Cinzel', serif;
    margin-bottom: 15px;
    color: #7e2cf1;
  }

  .week-days{
    display: flex;
    align-items: center;
    color: #fff;
  }

  .week-item{
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 18px;
  }

  .week-item:first-child{
    margin-right: 8px;
  }
}